/* styles/globals.css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  padding: 20px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 5 kolom */
    grid-template-rows: repeat(2, 1fr); /* 2 baris */
    gap: 20px; /* Jarak antar item */
  
}

.card {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  max-width: 300px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.card-types {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.type-label {
  background-color: #f0f0f0;
  color: #333;
  border-radius: 20px;
  padding: 5px 10px;
  margin-right: 5px;
}


.card-img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

h2 {
  font-size: 1.5rem;
  margin: 10px 0;
}

p {
  margin: 5px 0;
}
